@model HospitalManagement.Web.ViewModels.PatientViewModel

@{
    ViewData["Title"] = "Hasta Detayları";
}

<div class="container">
    <div class="card">
        <div class="card-header bg-primary text-white">
            <h4 class="mb-0">Hasta Detayları</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="border-bottom pb-2">Kişisel Bilgiler</h5>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IdentityNumber)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.IdentityNumber)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FullName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FullName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.DateOfBirth)</dt>
                        <dd class="col-sm-8">@Model.DateOfBirth.ToString("dd.MM.yyyy") (@Model.Age yaşında)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Gender)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Gender)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BloodType)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.BloodType)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5 class="border-bottom pb-2">İletişim Bilgileri</h5>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.City)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.City)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Country)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Country)</dd>
                    </dl>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <h5 class="border-bottom pb-2">Acil Durum Bilgileri</h5>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EmergencyContactName)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EmergencyContactName)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.EmergencyContactPhone)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.EmergencyContactPhone)</dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <h5 class="border-bottom pb-2">Sigorta Bilgileri</h5>
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.InsuranceProvider)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.InsuranceProvider)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.InsuranceNumber)</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.InsuranceNumber)</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="btn-group">
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
                    <i class="fas fa-edit"></i> Düzenle
                </a>
                <a asp-action="MedicalRecords" asp-route-id="@Model.Id" class="btn btn-info">
                    <i class="fas fa-notes-medical"></i> Tıbbi Kayıtlar
                </a>
                <a asp-action="Appointments" asp-route-id="@Model.Id" class="btn btn-success">
                    <i class="fas fa-calendar-check"></i> Randevular
                </a>
                <a asp-action="Prescriptions" asp-route-id="@Model.Id" class="btn btn-warning">
                    <i class="fas fa-prescription"></i> Reçeteler
                </a>
                <a asp-controller="Billing" asp-action="PatientInvoices" asp-route-id="@Model.Id" class="btn btn-secondary">
                    <i class="fas fa-file-invoice-dollar"></i> Faturalar
                </a>
                <a asp-controller="Appointment" asp-action="Create" asp-route-patientId="@Model.Id" class="btn btn-dark">
                    <i class="fas fa-calendar-plus"></i> Yeni Randevu
                </a>
            </div>
            <a asp-action="Index" class="btn btn-outline-secondary mt-2">
                <i class="fas fa-arrow-left"></i> Listeye Dön
            </a>
        </div>
    </div>
</div>
